{% extends 'base.html' %}

{% block title %}
Чистогов И.Д. ПРТ-21-1Б
{% endblock %}

{% block body %}
<h1>Zoo</h1>
<h2>Наши питомцы</h2>
<h2>Млекопитающие</h2>
<h2>Хищные</h2>
<center>
<img height="450" src="http://зоопарк.екатеринбург.рф/system/images/W1siZiIsIjIwMTcvMDYvMDgvMDVfNTNfNTlfNTE3X19fMjUzNS5qcGciXSxbInAiLCJ0aHVtYiIsIjEyMHgxMjAjYyJdXQ/%D0%B4%D0%B0_2535.jpg" width="450" ><br><br>
<a>Аму́рский тигр, или уссурийский тигр — подвид тигра Panthera tigris tigris, населяющей Дальний Восток России и Северо-Восточный Китай,<br> также существует информация о небольшой популяции в Северной Корее. Занесён в Красную книгу Международного союза охраны природы и в Красную книгу Российской Федерации.</a><br><br>
<img height="450" src="http://зоопарк.екатеринбург.рф/system/images/W1siZiIsIjIwMTgvMDIvMDUvMTBfMDlfMDNfNTIwX19fMzc1NS5KUEciXSxbInAiLCJ0aHVtYiIsIjEyMHgxMjAjYyJdXQ/%D1%85%D0%B8%D0%BD%D0%B4%D1%83_3755.JPG" width="450"><br><br>
<a>Бенга́льский тигр — подвид тигра Panthera tigris tigris, населяющий Индию, Непал, Бутан, Бангладеш. Популяция бенгальского тигра меньше, чем 2 500 особей, с перспективой уменьшения.</a><br><br>
<img height="450" src="http://зоопарк.екатеринбург.рф/system/images/W1siZiIsIjIwMTQvMDEvMjQvMDlfMzJfMTBfNjE2X2tvdF9oYXVzLmpwZyJdLFsicCIsInRodW1iIiwiMTIweDEyMCNjIl1d/kot%20haus.jpg" width="450"><br><br>
<a>Камышовый кот, или хаус, или камышовая кошка, или болотная рысь — хищное млекопитающее из семейства кошачьих. Занесён в Приложение 2 CITES и Красную книгу России, как редкий и охраняемый вид. Камышовый кот крупнее любого из представителей домашних кошек: в длину достигает 60—90 см, масса от 8 до 12 кг.</a><br><br>
<img height="450" src="http://зоопарк.екатеринбург.рф/system/images/W1siZiIsIjIwMTcvMDMvMDIvMTBfMzRfNTlfNDlfXy5qcGciXSxbInAiLCJ0aHVtYiIsIjEyMHgxMjAjYyJdXQ/%D0%BB%D0%B5%D0%B2%20%D0%AD%D1%80%D0%BD%D0%B8.jpg" width="450"><br><br>
<a>Лев — вид хищных млекопитающих, один из пяти представителей рода пантер, относящегося к подсемейству больших кошек в составе семейства кошачьих. Наряду с тигром — самая крупная из ныне живущих кошек, масса некоторых самцов может достигать 250 кг.</a><br><br>
<img height="450" src="http://зоопарк.екатеринбург.рф/system/images/W1siZiIsIjIwMTgvMDIvMDUvMTBfMDlfMDNfNTIwX19fMzc1NS5KUEciXSxbInAiLCJ0aHVtYiIsIjEyMHgxMjAjYyJdXQ/%D1%85%D0%B8%D0%BD%D0%B4%D1%83_3755.JPG" width="450"><br><br>
<a>Пу́ма — хищник рода Пумы семейства кошачьих. Обитает в Северной и Южной Америке. Самый крупный представитель рода пум. Длина тела животного составляет 100—190 см, при длине хвоста 60—75 см, высота в холке 60—80 см при массе до 110 кг. Рекордом считается 126 кг. Охотится преимущественно на оленей.</a><br><br>
  <h2>Сумчатые</h2>
  <img height="450" src="http://зоопарк.екатеринбург.рф/system/images/W1siZiIsIjIwMTMvMDkvMDMvMTRfMDFfMjRfODA3X2tlbmdvb3J1LmpwZyJdLFsicCIsInRodW1iIiwiMTIweDEyMCNjIl1d/kengooru.jpg" width="450"><br><br>
  <a>Валла́би — группа видов сумчатых млекопитающих из семейства кенгуровых, как правило, меньших по размеру, чем кенгуру или валлару. В узком смысле, валлаби — род семейства Кенгуровых, включающий в себя один ныне живущий вид и ряд ископаемых. Распространены в Тасмании, Новой Гвинее и архипелаге Бисмарка.</a><br><br>
  <img height="450" src="http://зоопарк.екатеринбург.рф/system/images/W1siZiIsIjIwMjAvMDkvMDEvMTBfMDZfMzJfMzc5XzIuX185NTE4XzIuanBnIl0sWyJwIiwidGh1bWIiLCIxMjB4MTIwI2MiXV0/2.%20%D0%B4%D0%B0_9518-2.jpg" width="450"><br><br>
  <a>Кенгуру — общеупотребительное название группы животных из отряда двурезцовых сумчатых млекопитающих. В широком смысле термин кенгуру относится ко всем представителям семейства кенгуровых, особенно красного филандера, антилопового кенгуру, восточного серого кенгуру и западного серого кенгуру.</a><br><br>
</center>
{% endblock %}
